@model IEnumerable<Asp.net_Core_Codes.Models.BookModel>


<div class="container">
    <h3 class="display-4">Book details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{

                        int i = 0;
                        
                    }
                    @foreach(var data in Model)
                    {
                        @foreach(var gallerydata in data.galleryprop)
                        {
                            <div class="@(i == 0 ? "carousel-item active" : "carousel-item")">

                                <img class="d-block w-100" src="@gallerydata.URL" alt="First slide">
                                @{i++;}
                            </div>
                        }
                        
                    }
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <h1><span>For anonymous property :- </span>@ViewBag.bookid</h1>
            @foreach(var bookdata in Model)
            {
                <h3 class="h3" style="margin-left:28px;"><span>@ViewBag.DataById :- </span>@bookdata.Bookno</h3>
                <div class="book-details p-4">
                    <h2 class="book-title">@bookdata.BookTitle</h2>
                    <p class="book-description">
                        @bookdata.Bookdesc
                    </p>
                    <a href="/read/the-great-adventure" class="btn btn-primary">Read Now</a>
                    <br />
                    <ul class="list-group" style="margin-top:20px !important;">
                        <li class="list-group-item"><span class="font-weight-bold">Category - </span>@bookdata.Action</li>
                        <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@bookdata.NoOfPages</li>
                        <li class="list-group-item"><span class="font-weight-bold">Languages - </span>@bookdata.BookLanaguage</li>

                    </ul>
                </div>
            }
               
        </div>
        <hr />
        





    </div>
</div>